<div class="reversejob_container">
  <div class="main">
    <ul class="cbp_tmtimeline">
      <li>
        <div class="cbp_tmicon cbp_tmicon-screen"><i class="fa fa-briefcase"></i></div>
        <div class="cbp_tmlabel">
          <h2>Expériences</h2>
          <div class="row experience-block p-2">
            <div class="col-md-3">
              <h3>
                <b>
                  ING </b>
              </h3>
              <h4 class="t-gris text-italic ff-arial">
                mars 2019 à ce jour <br>
                (1 an et 11 mois)
              </h4>
            </div>
            <div class="col-md-9">
              <a href="#" class="pull-right text-danger ml-1" data-toggle="modal"
                data-target="#modal_experience_1_delete"><i class="fa fa-trash"></i></a>
              <a href="#" class="pull-right text-yellow" data-toggle="modal" data-target="#modal_experience_1"><i
                  class="fa fa-edit"></i></a>

              <div class="exp-content">
                <h2>Full Stack Engineer</h2>
                <p>
                </p>
                <p><u style=""><b>Client&nbsp;: </b></u>ING France</p>
                <p><b><u>Projet</u></b><b>&nbsp;1</b>&nbsp;: PSD2</p>
                <p>Payement Services Directive&nbsp;2&nbsp;: réglementation européenne visant à instaurer un cadre
                  juridique pour&nbsp;des paiements plus simples, plus sécurisés et plus efficaces au sein de l’Europe.
                </p>
                <p><b><u>Méthodologie :</u></b><b> </b>Agile scrum</p>
                <p>&nbsp;</p>
                <p><b><u>Missions et tâches réalisées :</u></b></p>
                <p>Ø&nbsp; Développement des Webservices REST JavaEE.</p>
                <p>Ø&nbsp; Tests unitaires, Tests d’intégration</p>
                <p>Ø&nbsp; Revue de code</p>
                <p>Ø&nbsp; Méthode TDD</p>
                <p><b><u>Environnement Technique:</u></b> Java 8, Spring-Boot, Spring-Core, Spring-MVC, JUnit5, Mockito,
                  Maven, Tomcat, Oracle, Intellij, Gitlab, Debian.</p>
                <p>&nbsp;</p>
                <p><b><u>Projet</u></b><b>&nbsp;1</b>&nbsp;: 3DSecure</p>
                <p>Un système de sécurisation des paiements en ligne</p>
                <p><b><u>Méthodologie :</u></b> Agile scrum (cérémonies en anglais)</p>
                <p>&nbsp;</p>
                <p><b><u>Missions et tâches réalisées :</u></b></p>
                <p>Ø&nbsp; Développement des webservices Back-end</p>
                <p>Ø&nbsp; Développement de la partie front-end,</p>
                <p>Ø&nbsp; Tests unitaires, Tests d’intégration</p>
                <p>Ø&nbsp; Revue de code</p>
                <p>Ø&nbsp; Méthode TDD</p>
                <p>Ø&nbsp; Scrum Master</p>
                <p><b><u>&nbsp;</u></b></p>
                <p><b><u>Environnement Technique:</u></b> Java 11, Spring-Boot, Spring-Core, Spring-MVC, Angular7,
                  JUnit5, Maven, Mockito, Tomcat, Cassandra, Intellij, Gitlab, Debian.</p>
                <p></p>
                <span class="label label-default position-left">
                  Spring Boot </span>
                <span class="label label-default position-left">
                  Spring Core 3 </span>
                <span class="label label-default position-left">
                  Apache Maven </span>
                <span class="label label-default position-left">
                  Angular </span>
                <span class="label label-default position-left">
                  Cassandra </span>
                <span class="label label-default position-left">
                  Debian </span>
              </div>
            </div>
          </div>
          <div class="row experience-block p-2">
            <div class="col-md-3">
              <h3>
                <b>
                  Zodiac Aerospace </b>
              </h3>
              <h6 class="t-gris text-italic ff-arial">
                janvier 2018 à mars 2019 <br>
                (1 an et 3 mois)
              </h6>
            </div>
            <div class="col-md-9">
              <a href="#" class="pull-right text-danger ml-5" data-toggle="modal"
                data-target="#modal_experience_2_delete"><i class="icon-bin"></i></a>
              <a href="#" class="pull-right text-yellow" data-toggle="modal" data-target="#modal_experience_2"><i
                  class="icon-pencil7"></i></a>

              <div class="exp-content">
                <h2>Java Software Engineer</h2>
                <p>
                </p>
                <p>Développement d’une application Demande d’outillage.</p>
                <p>Solution informatique qui permet la gestion des demandes d’outillage depuis leurs création par le
                  demandeur jusqu’au leurs livraison au client.</p>
                <p><b><u>Mission et tâches réalisées</u></b> :</p>
                <ul>
                  <li><u>Rédaction des documents projet</u> : Spécification technique détaillée.</li>
                  <li>Scrum Master.</li>
                  <li>Développement des Webservices REST JavaEE.</li>
                  <li>Développement et intégration des modules front-end.</li>
                  <li>Revue de code.</li>
                  <li>Tests unitaires.</li>
                  <li>Corrections des bugs.</li>
                </ul>
                <p><b><u>Environnement Techniques</u></b> :&nbsp;Java 8, Angular 4, Spring MVC3, WS Restful.</p>
                <p></p>
                <span class="label label-default position-left">
                  Eclipse Java 8 </span>
                <span class="label label-default position-left">
                  Angular </span>
                <span class="label label-default position-left">
                  Spring Security </span>
                <span class="label label-default position-left">
                  MVC </span>
                <span class="label label-default position-left">
                  WS REST </span>
                <span class="label label-default position-left">
                  SOAP </span>
                <span class="label label-default position-left">
                  Junit </span>
                <span class="label label-default position-left">
                  Apache Maven </span>
                <span class="label label-default position-left">
                  Apache Tomcat </span>
                <span class="label label-default position-left">
                  MySql </span>
                <span class="label label-default position-left">
                  JEE </span>
                <span class="label label-default position-left">
                  Web Service REST </span>
              </div>
            </div>
          </div>
          <button mat-raised-button color="primary" class="col-md-12 p-2">Ajouter une expérience</button>
        </div>
      </li>
      <li>
        <div class="cbp_tmicon cbp_tmicon-screen"><i class="fa fa-graduation-cap"></i></div>
        <div class="cbp_tmlabel">
          <h2>Formations</h2>
          <div class="row experience-block p-2">

            <div class="col-md-5">
              <h5>
                Institut National des Postes et Télécommunications </h5>
              <h6 class="t-gris text-italic ff-arial">
                2016 </h6>
            </div>
            <div class="col-md-5">
              <h4>
                <b>
                  Diplôme d'ingénieur : Systèmes d''information de gestion, général </b>
              </h4>
            </div>
            <div class="col-md-2"> <a href="#" class="pull-right text-danger ml-1" data-toggle="modal"
                data-target="#modal_experience_1_delete"><i class="fa fa-trash"></i></a>
              <a href="#" class="pull-right text-yellow" data-toggle="modal" data-target="#modal_experience_1"><i
                  class="fa fa-edit"></i></a>
            </div>
          </div>
          <div class="row experience-block p-2">

            <div class="col-md-5">
              <h5>
                Institut National des Postes et Télécommunications </h5>
              <h6 class="t-gris text-italic ff-arial">
                2016 </h6>
            </div>
            <div class="col-md-5">
              <h4>
                <b>
                  Diplôme d'ingénieur : Systèmes d''information de gestion, général </b>
              </h4>
            </div>
            <div class="col-md-2"> <a href="#" class="pull-right text-danger ml-1" data-toggle="modal"
                data-target="#modal_experience_1_delete"><i class="fa fa-trash"></i></a>
              <a href="#" class="pull-right text-yellow" data-toggle="modal" data-target="#modal_experience_1"><i
                  class="fa fa-edit"></i></a>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="cbp_tmicon cbp_tmicon-screen"><i class="fa fa-certificate"></i></div>
        <div class="cbp_tmlabel">
          <h2>Certification</h2>
          <p>Caulie dandelion maize lentil collard greens radish arugula sweet pepper water spinach kombu courgette
            lettuce. Celery coriander bitterleaf epazote radicchio shallot winter purslane collard greens spring onion
            squash lentil. Artichoke salad bamboo shoot black-eyed pea brussels sprout garlic kohlrabi.</p>
        </div>
      </li>
      <li>
        <div class="cbp_tmicon cbp_tmicon-screen"><i class="fa fa-language"></i></div>
        <div class="cbp_tmlabel">
          <h2>Langues</h2>
          <p>Caulie dandelion maize lentil collard greens radish arugula sweet pepper water spinach kombu courgette
            lettuce. Celery coriander bitterleaf epazote radicchio shallot winter purslane collard greens spring onion
            squash lentil. Artichoke salad bamboo shoot black-eyed pea brussels sprout garlic kohlrabi.</p>
        </div>
      </li>
    </ul>
  </div>
</div>
