<div class="container-fluid pt-3">
  <div class="row p-1 pb-4">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          Mes cotations
        </div>
        <div class="card-body">
          <p class="text-grey text-italic">
            <b>Accepter une cotation ne vous engage en rien.</b>
            <br>Vous décidez simplement de lever votre anonymat et d'initier un 1er contact téléphonique avec l'entreprise.
            <br>Libre à vous ensuite d'accepter de poursuivre la discussion en entretien.
        </p>
        <p class="text-grey text-italic">
          <b>Décliner une cotation n'est jamais définitif.</b>
          <br>Vous pouvez la réactiver à tout moment. Si vous changez d'avis, <a href="https://up.hidden.market/contact/">il vous suffit de nous le signaler</a>.
          <br>Lorsque vous déclinez une cotation, vous restez anonyme et l'entreprise n'aura pas accès à vos coordonnées.
      </p>
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="position" headerStyle="{backgroundColor: 'red'}">
              <th mat-header-cell *matHeaderCellDef color="primary"> Société </th>
              <td mat-cell *matCellDef="let element"> {{element.position}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name" headerStyle="{backgroundColor: 'red'}">
              <th mat-header-cell *matHeaderCellDef> Cotation </th>
              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="weight">
              <th mat-header-cell *matHeaderCellDef> Action </th>
              <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
