.mat-header-cell {
  background-color: #d06f6f;
  color: white;
  border : 1px solid rgb(0, 0, 0) ;
  text-align: center;

}
.mat-table {
  width: 100%
}

.card-body {
  width: 100%;
}
.mat-cell {
  border : 1px solid rgb(0, 0, 0) ;
  text-align: center;
}
.card-header {
  font-size: 30px;
  padding: 20px 0 20px 10px;
}
