<div class="container-fluid pt-3">
  <div class="row p-1 pb-4">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          Métier
        </div>
        <div class="card-body">
          <h3 class="card-title">Programmation et développement</h3>
          <h4 class="card-text">Développeur fullstack JAVA/JEE</h4>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          Compétences complémentaires
        </div>
        <div class="card-body">
          <h5 class="card-title">
            <span>JAVA</span><span>CSS3</span><span>LINUX</span><span>SPRING</span><span>MAVEN</span>
            <span>JAVA</span><span>CSS3</span><span>LINUX</span><span>SPRING</span><span>MAVEN</span>
            <span>JAVA</span><span>CSS3</span><span>LINUX</span><span>SPRING</span><span>MAVEN</span>
          </h5>
        </div>
      </div>
    </div>
  </div>
  <div class="row p-1 pb-4">
    <div class="col-md-4">
      <app-card-one header="ANNÉES D'EXPÉRIENCE" title="5 ANS"></app-card-one>
    </div>
    <div class="col-md-4">
      <app-card-one header="FORMATION" title="École d'ingénieur"></app-card-one>
    </div>
    <div class="col-md-4">
      <app-card-one header="PRÉTENTIONS SALARIALES" title="58 000 €"></app-card-one>
    </div>
  </div>
  <div class="row p-1 pb-4">
    <div class="col-md-12">
      <app-timeline-container></app-timeline-container>
    </div>
  </div>
</div>
